@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "./telescope/tokens/telescope_primitives.css";
@import "./telescope/tokens/telescope_theme.css";

.ph {
  font-size: 20px;
}

*:focus {
  outline: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-normal-primary);
  color: var(--text-normal-primary);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
